@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acme", sans-serif;
    scroll-behavior: smooth;
}
/* header */
.header{
    width: 100%;
    height: 641px;
}
.About{
    width: 100%;
    height: 100%;
    display: flex;
}
.avatar{
    width: 50%;
    height: 100%;
}
.avatar img{
    width: 50%;
    height: 60%;
    margin: 100px 60px;
    border-radius: 50%;
    box-shadow: darkgray 5px 10px 10px;
}
.aboutme{
    width: 50%;
    height: 100%;
}
.aboutme h1{
    margin: 150px 0px 0px 60px;
    font-size: 50px;
}
.aboutme h2{
    margin: 10px 0px 0px 60px;
}
.aboutme a{
    color: darkgray;
    margin: 10px 0px 0px 55px;
    font-size: 40px;
    transition: 0.2s color;
}
.aboutme a:hover{
    color: blue;
}
.aboutme .whatsapp{
    color: darkgray;
    margin: 10px 0px 0px 20px;
    font-size: 40px;
    transition: 0.2s color;
}
.navbar{
    width: 100%;
    height: 15%;
}
.Logo{
    width: 50%;
    height: 100%;
    font-size: 40px;
    padding: 10px 70px;
    font-family: "Pacifico", cursive;
}
/* end header */

/* navbar */
.nav{
    width: 50%;
    height: 100%;
}
.nav ul li{
    float: left;
    list-style-type: none;
    margin: 35px 100px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    transition: 0.2s color;
}
.nav ul li a:hover{
    color: cadetblue;
}
/* end navbar */

/* projects */
.project{
    width: 100%;
    height: 700px;
    background-color: #e5e5e5;
    overflow: hidden;
}
.project-text{
    text-align: center;
    margin: 50px 0px;
    height: 20%;
}
.project-text h1{
    font-size: 60px;
}
.project-text h1::first-letter{
    color: cadetblue;
}
.content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}
.item{
    width: 20%;
    height: 50%;
    overflow: hidden;
    position: relative;
}
.item h4{
    position: absolute;
    top: -60%;
    left: 25%;
    font-size: 20px;
    color: #5f9ea0;
    transition: 2s top;
}
.item img{
    width: 100%;
    height: 100%;
    transition: 1s transform;
}
.item img:hover{
    transform: scale(1.1,1.1);
}
.item:hover h4{
    top: 90%;
}
/* end projects */

/* contact */
.contact{
    width: 100%;
    /* height: 400px; */
}
.contact h1{
    font-size: 60px;
    text-align: center;
    margin: 50px 0px;
}
.contact h1::first-letter{
    color: cadetblue;
}
.form{
    width: 700px;
    height: 100%;
    margin: auto; 
}
input{
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    border-radius: 5px;
}
textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin: 20px 0px;
}
button{
    background-color: cadetblue;
    color: white;
    border-color: black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.2s all;
}
button:hover{
    background-color: white;
    color: cadetblue;
    border-radius: 20px;
    cursor: pointer;
}
.map{
    margin-top: 30px;
    width: 100%;
    height: 460px;
}
/* end contact */

/* Footer */
footer{
    width: 100%;
    height: 20px;
    background-color: #e5e5e5;
    text-align: center;
}
/* end Footer */